.projects-area{
    margin: 50px auto;
}

.projects-area>h1{
    text-align: center;
    margin-bottom: 80px;
}

.ux-projects{
    margin-top: 50px;
}

.ux-projects>h2{
    margin-bottom: 50px;
}

.prototype{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 50px;
}

.number{
    grid-column: 1/2;
    font-size: x-large;
    font-weight: bolder;
}

.prototype>.project-info{
    grid-column: 2/4;
}

.project-info>a{
    font-size: x-large;
    font-weight: bolder;
}

.project-info>p{
    margin-top: 50px;
    opacity: 0; /* Initially hide the paragraph */
    animation: slideIn 1s ease forwards; /* Apply the slideIn animation */
}

.prototype>img{
    width: 550px;
    grid-column: 4/6;
    margin-left: 85px;
    border-radius: 25px;
    border: 3px solid black;
    animation: fadeIn 1s ease forwards; /* Apply the fadeIn animation */
}

.graphic-projects{
    margin-top: 80px;
}

.graphic-designs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px;
}

.design>img{
    width: 100%;
    border-radius: 25px;
    border: 3px solid black;
    animation: slideIn 1s ease forwards; /* Apply the slideIn animation */
}

.image-caption{
    text-align: center;
    margin: 15px 0 20px;
    animation: slideIn 1s ease forwards; /* Apply the slideIn animation */
}

.web-software-projects{
    margin: 80px 0 230px;
}

.web-software-projects>h2>a, .graphic-projects>h2>a{
    color: black;
}

.web-software-projects>h2>a:hover{
    color: rgba(86, 152, 155, 0.797);
}

/* Keyframes for slideIn animation */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px); /* Slide in from right */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* Slide to its original position */
    }
}

/* Keyframes animation for fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px); /* Slide in from 20px below */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* Slide to its original position */
    }
}

/* Responsive design */
@media screen and (max-width: 1099px){
    .graphic-designs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 949px){
    .prototype, .graphic-designs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .prototype>.project-info{
        margin: 50px 0;
    }

    .prototype>img, .design>img{
        width: 550px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 699px){
    .prototype>img, .design>img{
        width: 500px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 549px){
    .prototype>img, .design>img{
        width: 450px;
    }
}

@media screen and (max-width: 499px){
    .prototype>img, .design>img{
        width: 400px;
    }
}

@media screen and (max-width: 449px){
    .prototype>img, .design>img{
        width: 350px;
        margin-right: 5px;
    }
}